<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/get_started/">Get Started</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/examples/">Examples</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/dsl/">DSL</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/terms/">Terms</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}/rules/">Rules</a></li>
    </ul>

    <p>&copy; <a href="{{ site.author.url }}" target="_blank">{{ site.author.name }}</a> {{ site.time | date: '%Y' }}.
    All rights reserved.</p>
  </div>
</div>
